.trashIcon {
    color: red;
    cursor: pointer;
}

.btnPlus {
    padding: 15px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #098de6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.6rem;
    position: absolute;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
}